*{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/* additional padding */
.pt-6,
.py-6{
    padding-top: 5rem !important;
}

.pb-6,
.py-6{
    padding-bottom: 5rem !important;
}

.pt-7,
.py-7{
    padding-top: 8rem !important;
}

.pb-7,
.py-7{
    padding-bottom: 8rem !important;
}




/* additional padding */

/* line height */

.lh1{
    line-height: 140%;
}

.mtm-6{
    margin-top: -30px;
}

/* color pallet */
.darker_blue{
    color: #421D78;
}

.dark_blue_background{
    background-color: #3064cf;
}

.dark_blue{
    color: #3064cf;
}

.mid_blue_background{
    background-color: #3082cf;
}

.mid_blue{
    color: #3082cf;
}

.light_blue_background{
    background-color: #42b9ff;
}

.light_blue{
    color: #42b9ff;
}

.purple_background{
    background-color: #8B4AEA;
}

.maroon_background{
    background-color: #822E48;
}

.purple{
    color: #8B4AEA !important;
}

.dark_purple_background{
    background-color: #4C3273;
}

.dark_purple{
    color: #4C3273;
}

.white_background{
    background-color: #fff;
}

.white{
    color: #ffffff;
}

.black{
    color: #000000;
}

.yellow_background{
    background-color: #F6C711 !important;
}

.yellow{
    color: #F6C711;
}

.beige_background{
    background-color: #F7F1DB;
}

.grey_background{
    background-color: #F4F4F4;
}

.grey{
    color: #A6A6A7;
}

.dark_grey{
    color: #454545;
}

.green{
    color: #168669;
}

.green_background{
    background-color: #2DA411;
}

.white_transparent{
  background-color: rgba(255, 255, 255, 0.6);
}

.fast{
    color: #2DA411;
}

.short{
    color: #C0DC23;
}

.slow{
    color: #DCB323;
}

.slowest{
    color: #DC2323;
}

.bb-grey{
    border-bottom: 1px solid #e0e0e0;
}
/* color pallet */

/* font styles */

h1{
    font-size: 40px;
    font-weight: 300;
}

h3{
    font-size: 26px;
    font-weight: normal;
}


h5{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 3px solid white;
}


.b300{
    font-weight: 300;
}

.b400{
    font-weight: 400;
}

.b600{
    font-weight: 600;
}

.b700{
    font-weight: 700;
}

.font10{
    font-size: 10px;
}

.font12{
    font-size: 12px;
}

.font13{
    font-size: 13px;
}

.font14{
    font-size: 14px;
}

.font15{
    font-size: 15px !important;
}

.font16{
    font-size: 16px !important;
}

.font17{
    font-size: 17px !important;
}

.font18{
    font-size: 18px;
}

.font20{
    font-size: 20px;
}

.font22{
    font-size: 22px;
}

.font26{
    font-size: 26px;
}

.font30{
    font-size: 30px;
}

.font45{
    font-size: 45px;
}

.lh2{
    line-height: 2;
}

.br-5{
    border-radius: 5px;
}

.uppercase{
    text-transform: uppercase;
}
/* font styles */

.hidden{
    display: none;
}

.display{
    display: block;
}

.menu{
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.menu_other{
    border-bottom: darkgray 1px solid;
    background-color: white;
    -webkit-box-shadow: 0 4px 6px -6px black;
	   -moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
}

.menu_scroll{
    border-bottom: darkgray 1px solid;
    background-color: white;
    -webkit-box-shadow: 0 4px 6px -6px black;
	   -moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
}

.top_bar a{
    color: #fff;
    font-weight: 700;
}

.top_bar img{
    width: 25px;
    margin-right: 10px;
}

.search_box{
    height: 30px;
    border-radius: 15px;
}

.search_box_container {
    position:relative;
}

.search_box_img {
    position:absolute;
    bottom:10px;
    right:15px;
    width:15px !important;
}

/* KTD Navigation */
.ktd_nav{
    padding: 0;
}

.ktd_nav a{
    font-size: 17px;
    font-weight: 600;
    color: #3E3E3E;    
}

.appointment_menu{
    color: #000 !important;
    background-color: #F6C711;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 7px;
    min-width: 130px;
    text-align: center;
    border: 2px solid #F6C711;
}

.appointment_mobile{
    color: #000 !important;
    background-color: #F6C711;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid #F6C711;
}

.appointment_menu:hover{
    background-color: #fff;
    border: 2px solid #F6C711;
}

.appointment_mobile:hover{
    background-color: #fff;
    border: 2px solid #F6C711;
}

.ktd_nav a:hover{
    color: #8B4AEA;
    padding: 0;
}

.ktd_nav a:active{
    color: #8B4AEA;
}

.ktd_nav .nav-item{
    margin-left: 20px;
}

.ktd_nav .navbar-toggler{
    background-color: #fff;
    padding: 10px;
    height: 40px;
}

/* KTD Navigation */

.hero{
    height: 85vh;
    min-height: 630px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_btn{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid white;
    padding: 5px;
    font-size: 20px;
    line-height: 26px;
}

.hero_btn:hover{
    background-color: #ffffff;
}

.feature .col{
    height: 400px;
}
  
  /* home location checkbox */

  .radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-size: 12px;
    margin: 0px 5px;
  }
  .radio .label {
    position: relative;
    display: block;
    float: left;
    margin-right: 7px;
    margin-top: 3px;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  .radio .label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #fff;
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.08;
    pointer-events: none;
  }
  .radio:hover .label:after {
    transform: scale(3.6);
  }
  input[type="radio"]:checked + .label {
    border-color: #fff;
  }
  input[type="radio"]:checked + .label:after {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
    opacity: 1;
  }

  .hidden {
    display: none;
  }
  .credit {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.6;
  }
  .credit img {
    width: 72px;
  }
  .credit:hover {
    transform: scale(0.95);
  }
  /* home location checkbox */

  /* home location list */

  .c-2{
      margin-top: 2px;
  }
  .home_location > .row{
      margin:0px;
      min-height: 55px;
      padding: 10px 0px;
      border-top: 1px solid #CBACF7;
      box-sizing: border-box;
  }

  .location_cell{
    display: inline;
    vertical-align: middle;
  }

  .light_blue_background > .row{
    margin:0px -1px;
    padding: 0;
  }

  .hl_bottom{
    border-bottom: 1px solid #CBACF7; 
  }

  .hd_bottom{
    border-bottom: 1px solid #fff; 
  }

  .lt_btn{
      padding: 5px;
      height: 30px;
      box-sizing: border-box;
      color: white;
      font-size: 12px;
      text-align: center;
      border: 1px solid #BD5EFF;
      border-radius: 12px;
      visibility: hidden;
  }

  .lt_btn_mobile{
    padding: 5px;
    height: 30px;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    text-align: center;
    border: 1px solid #BD5EFF;
    border-radius: 12px;
}

  .lt_btn_big{
    padding: 5px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    border: 2px solid #BD5EFF;
    border-radius: 20px;
}

  .home_location:hover .lt_btn{
      visibility: visible;
  }

  .lt_btn:hover{
    color:#BD5EFF;
    border: 1px solid #F6C711;
    background-color: #F6C711;
  }

  .lt_btn_big:hover{
    color:#BD5EFF;
    border: 2px solid #F6C711;
    background-color: #F6C711;
  }

  .lt_btn_big:hover .yellow{
    color:#BD5EFF;
  }

  .lt_btn_mobile:hover{
    color:#FFFFFF;
    border: 1px solid #F6C711;
    background-color: #F6C711;
  }

  .time{
      font-size: 11px;
  }

  .no_border{
      border-top: 0px !important;
  }

  .hd_img{
      margin-top: -85px;
  }

  hr.hd_hr{
    border-top: 1px solid white;
    width: 100%;
    margin-top: -1px;
  }

  hr.speciality{
    border-top: 1px solid #FFF5CD;
    width: 100%;
  }

  .btn-custom{
    background-color: #F6C711;
    color: #000;
  }

  .btn-custom:hover{
    background-color: #8B4AEA;
    color: #fff;
  }

  .purple_btn{
    background-color: #fff;
    color: #000;
  }

  .eligibility_btn{
      color: white;
      padding: 8px 15px;
      font-size: 14px;
      border-radius: 15px;
      border: 2px solid #FFF5CD;
  }

  .eligibility_btn:hover{
    color: #421D78;
    background-color: white;
    border: 2px solid white;
}

.eligibility_box1{
    border-bottom: 1px rgba(255, 245, 205, 0.5) solid;
    border-right: 1px rgba(255, 245, 205, 0.5) solid;
}

.eligibility_box2{
    border-bottom: 1px rgba(255, 245, 205, 0.5) solid;
}

.eligibility_box3{
    border-right: 1px rgba(255, 245, 205, 0.5) solid;
}

footer ul{
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
}

.featured_box ul{
    list-style-position: inside;
    padding: 0;
}
.featured_box a{
    color: inherit;
    font-weight: 600;
}

.featured_box{
    margin-top: -50px; 
    min-height: 350px;
}
footer ul li{
    margin: 5px 0px;
}

.bottom_bar{
    white-space:nowrap;
    max-width: 100%;
}

.bottom_bar li{
    
    display: inline;
    margin-right: 0.5rem;
    font-size: 11px;
}

.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
background: none;
border: none;
width: 100%;
}

.megaul{
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
}

.megaul li a{
    color: white !important;
    font-weight: 300;
    line-height: 40px;
}

.trans{
    background-color: transparent !important;
}

#accordion .card{
    border: none;
    border-bottom: 1px solid #FFF5CD;
    border-radius: 0px;
}

.custom_feild{
    border-radius: 0px;
}

.home_appoinment a{
    text-decoration: underline;
}

.home_appoinment a:hover{
    color: #F6C711;
}

#patientCare:hover  #patientCareDrop{
    display: block;
}

#patientCare:not(:hover)  #patientCareDrop{
    display: none;
}

#patientCareMob:hover  #patientCareDropMob{
    display: block;
}

#patientCareMob:not(:hover)  #patientCareDropMob{
    display: none;
}

.nav-item{
    height: 70px; 
    margin-top: -70px;
    padding: 0;
    margin-left: 0.5rem;    
    margin-right: 0.5rem;
    
}
.nav-link{
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 5px 0px !important;
}

.nav-item:hover{
    border-bottom: 3px #8B4AEA solid !important;
}

.appointment_nav:hover{
    border-bottom: 0px #8B4AEA solid !important;
}
.mob{
    height: 30px; 
    margin-top: 10px;
}

.logoSliderHeader{
    max-width: 400px; 
    margin: -40px auto;
    padding: 0px 30px;
}

.logoSliderHeaderMobile{
    max-width: 250px; 
    margin: -70px auto;
    padding: 0px 10px;
}

.top_bar_item{
    height: 35px;
    display: flex;
    align-items: center; 
}

.sb{
    border: 1px solid white;
}

.sb2{
  border: 2px solid white;
}

.sbd{
    border: 1px solid black;
}

footer a:hover{
    color: #F6C711;
}

footer .icon:hover{
    color: white;
}

.hero_slogan{
    font-size: 45px;
    margin-top: 75px;
}

.hero_a{
    text-decoration: underline;
}

.hero_a:hover{
    color: #8B4AEA;
    text-decoration: underline;
}

.eligibility_box{
    margin-top: 100px;
}

.other_hero{
    height: 83vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.w_custom{
    width: 62.5%;
}

.insurance_btn{
    display: none;
    background-color: #822E48;
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 10px;    
}

.appointment_btn{
    background-color: #822E48;
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 10px;    
}

#ppodiv{
    display: none;
}

#medidiv{
    display: none;
}

#hmodiv{
    display: none;
}

#hmoseconddiv{
    display: none;
}

#ibox{
    max-height: 1050px; 
    margin-bottom: 50px;
    transition: max-height 1s linear;
}

.it_btn{
    padding: 5px 20px;
    height: 30px;
    box-sizing: border-box;
    color: #BD5EFF;
    font-size: 12px;
    text-align: center;
    border: 1px solid #BD5EFF;
    border-radius: 15px;
    /* visibility: hidden; */
}

.insurance_text:hover .it_btn{
    visibility: visible;
}

.it_btn:hover{
    color: white;
    background-color: #BD5EFF;
}

.ibt{
    border:0;
    border-top: 1px solid #cccccc;
}

#billing_policy .purple{
    color: #353535 !important;
}

#billing_policy #accordion .card{
    border-bottom: 1px #D9C2F9 solid;
}

#locations .card{
    border: none;
}

#locations .card-header{
    background-color: white;
}

.location_num{
    width:25px;
    min-width:25px;
    height:25px;
    box-sizing: border-box;
    padding: 3px 5px;
    border-radius: 15px;
    text-align: center;
    float: left;
    margin-top: 2px;
}

#map_canvas{
    border-radius: 10px;
}

.sticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 120px;
}

#appointment label{
    color: red;
    margin-top: 10px;
    margin-bottom: 0px;
}

.review{
    border: none;
    border-top: 2px solid #4C3273;
    border-radius: 0;
}

.result{
    border: none;
    border-top: 2px solid #4C3273;
    border-radius: 0;
}

.sb{
    border: 1px solid white;
}

/*faq accordion*/
.accordion-body{
    padding:20px;
    background-color: #ecf0f1;
  } 
  /*Vertical Steps*/
  .inside-body{
    padding:25px;
  }
  .list-group.vertical-steps .list-group-item{
    border:none;
    border-left:3px solid #0052c2;
    box-sizing:border-box;
    border-radius:0;
    counter-increment: step-counter;
    padding-left:20px;
    padding-right:0px;
    padding-bottom:20px;
    padding-top:0px;
  }
  .list-group.vertical-steps .list-group-item.active{
    background-color:transparent;
    color:inherit;
  }
  .list-group.vertical-steps .list-group-item:last-child{
    border-left:3px solid transparent;
    padding-bottom:0;
  }
  .list-group.vertical-steps .list-group-item::before {
    border-radius: 50%;
    background-color:#0052c2;
    color:#fff;
    content: counter(step-counter);
    display:inline-block;
    float:left;
    height:25px;
    line-height:25px;
    margin-left:-35px;
    text-align:center;
    width:25px;
  }
  .list-group.vertical-steps .list-group-item span,
  .list-group.vertical-steps .list-group-item a{
    display:block;
    overflow:hidden;
    padding-top:2px;
  }
  /* End of Vertical Step */
  
  #how-to .panel-group .panel{
    border-radius:0px;
    border: 0px;
  }
  #how-to .panel-group{
    margin:0px;
  }
  #how-to .panel-heading{
    padding:0px !important;
    border-radius: 0px;
  }
  #how-to .parent a{
    display: block;
    text-decoration: none;
    padding:25px;
  }
  #how-to .child a{
    display: block;
    text-decoration: none;
    padding:25px;
  }
  #how-to .parent{
    background-color: #fff !important;
  }
  #how-to .child{
    background-color: #f2f2f2 !important;
  }
  #how-to .panel-body{
    border: none;
  }
  #how-to .panel-body{
    padding:0px;
  }
  #how-to .panel-group .panel+.panel{
    margin:0px;
  }
  #how-to .panel-group .parent{
    border-bottom: 1px solid #ecf0f1;
  }
  #how-to .panel-group .child{
    border-bottom: 1px solid #FDFDFD;
  }
  #superaccordion{
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  }
  .panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    right:10px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size:14pt;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
    color:#333;
  }
  .panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .parent a:after{
    content: "";
    position: relative;
    top: -15px;
    right:10px;
    display: inline-block;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
    color:#333;
  }

/* yellow select  */

#yellow-select .yellow-select {
  --radius: 5px;
  --baseFg: #000000;
  --baseBg: #F6C711;
  --accentFg: black;
  --accentBg: #F6C711;
}

#yellow-select select {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  line-height: 1;
  border: none;
  outline: 0;
  padding: 15px;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--baseBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--baseBg) 50%),
    linear-gradient(var(--baseBg) 42%, var(--baseFg) 5%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 0%, 40px 42px, 40px 42px, 30px 100%;
  background-position: right 20px top, right bottom, right bottom, right bottom;   
}

#yellow-select select:hover {
  background-color: var(--accentBg);
  color: var(--accentFg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--baseBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--baseBg) 50%),
    linear-gradient(var(--baseBg) 42%, var(--baseFg) 5%);
}

#yellow-select select:active {
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--baseBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--baseBg) 50%),
    linear-gradient(var(--baseBg) 42%, var(--baseFg) 5%);
}

#yellow-select select option{
  padding: 20px;
}

#yellow-select select option:hover{
  background-color: white;
}

.insurance_special_box{
    margin-top: -80px;
}

.insurance_special_box_head{
    padding: 1.9rem !important;
}

.insurance_special_box_body{
    padding: 1.9rem !important;
    padding-bottom: 0px !important;
}

.hero_slogan span{
    font-size: 38px;
}

.textline_top{
    font-size: 14px;
}

.staffaccess-content-area{
  padding-top:100px;
  padding-bottom: 50px;
  margin-top: 150px;
  width: 70%;
}

.staffaccess-heading{
  text-align: center;
  padding-bottom: 40px;
  color: #55acee;
  text-transform: uppercase;
  font-size: 20px;
}

.staffaccess-text{
  color: #5f5f5f;
}

.staffaccess-vl{
  border-left: 2px solid #bbb;
  height: 100px;
}

.staffaccess-login{
  padding: 8px 55px;
  margin-left: 15px;
}

.staffaccess-signup{
  padding: 8px 50px;
}

.staffaccess-jumbotron{
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 
              0 3px 3px -2px rgb(66, 185, 255), 
              0 1px 8px 0 rgba(0,0,0,.2);
  background-color: #fff;
}

.staffaccess-separator{
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.nav-contact{
  transform: translateY(-100%);
}

.nav-contact{
  transform: translateY(0);
}

.staff-access-bg{
  background-color: #F6C711;
}

.headertop-darkblue-section{
  background-color: #F6C711;
  height: 50px;
}

.headertop-darkblue-text {
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding-top: 8px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header-top-text{
    color:#F6C711 !important;
}

.footer-bottom-right-text{
    text-align: right;
}

.footer-bottom-left-text{
    text-align: left;
}

.doc-contact-right{
    font-size: 15px;
}

.collapse.show {
    display: block;
    overflow-y: auto;
}

.appointment-contact{
    padding-top: 6rem !important;
}

.appointment-right-contact-area{
    margin-top: 50px;
}

.patient-pages-content-area{
    padding-bottom: 25px;
}

.navbar-brand:hover{
    padding-top: 0.3125rem !important;
    padding-bottom: 0.3125rem !important;
    display: inline-block !important;
}

.blog_bar a{
    color: #F6C711 !important;
    font-weight: 400 !important;
}

.news_slider{
    max-width: 100%;
    width: 350px;
    margin-left: 34%;
    margin-top: 5px;
    font-size: 14px;
    height: 80px;
}

.single_news{
    box-sizing: border-box;
    height: 80px !important;
    overflow: hidden;
    padding: 10px 0px !important;
}

.hero_slogan_box{
    margin-top: -80px;
}

.hero_big_btn{
    margin-top: -58px;
    padding-bottom: 0px;
    border: none;
}

.telehealth-left-img{
  margin-top: -15px;
}

.telehealth-heading{
  font-weight: 800;
  text-align: right;
  padding-right: 10px;
  color: #634395;
}

.telehealth-heading:hover{
  font-weight: 800;
  text-align: right;
  padding-right: 10px;
  color: #634395;
  text-decoration: underline;
}

.telehealth-text{
  color: #000;
  text-align: right;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;

}

.telehealth-contact{
  text-align: right;
  padding-right: 10px;
  margin-top: -15px;
  font-size: 15px;
  line-height: 1.3;
}

.telehealth-contact-text{
  color: #634395;
}

.header-top-text{
    color:#666666 !important;
}

.footer-bottom-right-text{
    text-align: right;
}

.footer-bottom-left-text{
    text-align: left;
}

.doc-contact-right{
    font-size: 15px;
}

.collapse.show {
    display: block;
    overflow-y: auto;
}

.appointment-contact{
    padding-top: 6rem !important;
}

.appointment-right-contact-area{
    margin-top: 50px;
}

.patient-pages-content-area{
    padding-bottom: 25px;
}

.modal_body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}

.news-marquee-area{
  margin-top: 200px;
  margin-bottom: 43px;
}

.news-marquee{
  margin-left: 5px;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  width: 59%;
  overflow: hidden;
  background-color: rgba(246, 199, 17, 0.7);
}

.news-text{
  padding-right: 30px;
  font-size: 20px;
}

.js-marquee{
  margin-right: 0px !important;
}

.news-slider {
  width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ccc;
}

.telehealth-feature-text{
    font-size: 28px !important;
}

.appointment-purple-button{
    background-color: #8b4aea;
    padding: 5px 8px;
    border: none;
    border-radius: 3px;
    color: #d1beec;
    font-size: 14px;
    cursor: pointer;
    width: 200px;
    margin: 8px auto;
}

.appointment-messenger-button{
    background-color: #0080ff;
    padding: 5px 8px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 17px;  
    width: 190px;
    margin: 5px auto;
    cursor: pointer;
  }

.teleheath-purple-button{
  background-color: #8b4aea;
  padding: 5px 8px;
  border: none;
  border-radius: 3px;
  color: #d1beec;
  font-size: 14px;
  cursor: pointer;
  max-width: 300px;
  margin: 5px auto;
}

.teleheath-purple-button-e{
  background-color: #8b4aea;
  padding: 5px 13px 5px 8px;
  border: none;
  border-radius: 3px;
  color: #d1beec;
  font-size: 14px;
  cursor: pointer;
  max-width: 300px;
  margin: 5px auto;
}

.purple-button-num{
  color: #fff;
  font-size: 18px;
}

.telehealth-button-section{
  margin-bottom: 10px;
}

.teleheath-mezenger-button{
  background-color: #0080ff;
  padding: 5px 8px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;  
  max-width: 300px;
  margin: 5px auto;
  cursor: pointer;
}

.cvt{
  text-align: center;
}

.cvf{
  text-align: center;
}

/*.telehealth-uc{
  font-size: 14px;
  text-align: center;
}*/

.telehealth-feature-img{
  margin-top: -50px;
  height:200px;
  overflow:hidden;
}

.telehealth24-heading{
  text-align: center;
}

.telehealth24-content{
  text-align: center;
  padding-bottom: 25px;
}

.telehealth-zoom-button{
  padding-left: 10px;
  margin-left: 85px;
}

.telehealth-count-text{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.telehealth-count{
  background-color: #832342;
  color: #fff;
  padding: 2px 10px;
  font-size: 35px;
  border-radius: 5px;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}

.telehealth-img{
    margin-top: -15px;
}
@keyframes blinkingText{
    0%{     color: #8B4AEA;    }
    49%{    color: #8B4AEA; }
    60%{    color: #F6C711; }
    99%{    color: #F6C711;  }
    100%{   color: #8B4AEA;    }
}

.flag-area{
  margin-left: -19px;
}

.sick-wellvisits-text{
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #F6C711;
  font-weight: bold;
}

.app-num{
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 35px;
    font-weight: 600;
    padding: 3px 0px;
    text-align: center;
    color: #fff;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 20px;
}

.yellow-num{
    background-color: #F6C711 !important;
}

.purple-num{
    background-color: #8B4AEA !important;
}

.orange-num{
    background-color: #e17055 !important;
}

.light-blue-num{
    background-color: #42b9ff !important;
}

.option-box{
    border-width: 4px;
    border-style: solid;
    border-radius: 25px;
}

.yellow-border{
    border-color: #F6C711;
}

.purple-border{
    border-color: #8B4AEA;
}

.orange-border{
    border-color: #e17055;
}

.light-blue-border{
    border-color: #42b9ff;
}

.option-body{
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.fastest-ways-heading{
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

.request-via-call{
  height: 100px;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

#seeMore{
    margin: auto; 
    margin-top: -35px; 
    width: 100px; 
    cursor: pointer;
}

#seeMoreBox{
    margin-bottom: -35px; 
}

.headertop-conten-tarea{
  background-color: #ebc244 !important; 
  border-radius: 5px; 
  padding: 7px 10px !important;
  margin-top: 1px !important;
}

.headertop-contact-num{
  color: #000 !important;
  text-decoration: underline;
}

.headertop-contact-lan{
  color: #000 !important;
}

.hero-appointment-button-bg{
  background-color: #f6c711 !important;
}

@media only screen and (min-width: 959px) and (max-width: 1100px){
    .logo{
        width: 180px;
        margin-top: 10px;
    }

    .textline_top{
        font-size: 14px !important;
    }

    .nav-item{
        margin-top: -50px;
        margin-right: 0px;
    }

    .lt_btn{
      padding: 5px;
      height: 25px;
      box-sizing: border-box;
      color: white !important;
      font-size: 9px;
      text-align: center;
      border: 1px solid #BD5EFF !important;
      border-radius: 12px;
      visibility:inherit;
    }
    .news_slider{
        width: 350px;
        font-size: 14px;
        float: right;
        margin: unset;
        margin-right: 2rem;
        margin-top: 2rem;
        margin-bottom: -5rem;
    }
    
    .hero_big_btn{
        margin-top: -51px;
    }

    .hero_btnset{
        margin-top: 30px;
    }

}

@media only screen and (min-width: 760px) and (max-width: 959px){
    .appointment-container{
        margin-top: 120px;
    }

    .mobile_correction_left{
        padding: 1rem !important;
    }
    
    .billing {
        margin-top: 2rem;
    }

    .textus_box_content{
        font-size: 20px;
    }
    
    .logo{
        width: 250px;
    }

    .textline_top{
        font-size: 14px !important;
    }

    .navbar-toggler{
        margin-top: 17px;
    }

    .hero{
        min-height: 200px;
    }

    .hero_slogan{
        margin-top: 100px;
        font-size: 38px;
    }

    .hero_slogan span{
        font-size: 38px;
    }

    .banner_inside{
        margin-bottom: 3rem;
    }

    .mtm-6{
        margin-top: -95px;
    }
    
    .banner_inside{
        padding-top: 16rem !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-bottom: 2rem !important;
    }

    #accordion{
        padding: 1rem !important;
    }

    .featured_box{
        margin-top: 0px !important;
        min-height: 230px !important; 
    }

    .b700{
        font-weight: 500;
    }

    .eligibility_box{
        margin-top: 50px;
    }

    .patients-page-main-heading{
        padding-top: 0 !important;
        padding-bottom: 10px !important;
    }

    .news_slider{
        width: 100%;
        margin: unset;
        margin-top: 8rem;
        font-size: 14px;
        margin-bottom: -8rem;
    }

    .telehealth-zoom-button{
        padding-left: 170px;
    }
    
    .mobile-telehealth-text{
        margin-top: -75px;
    }

    .news-marquee-area{
        margin-top: 308px;
    }

    .option-body{
        height: auto;
    }

    .appoint-hading{
        padding-top: 50px;
    }

    /* .teleheath-purple-button{
      background-color: #8b4aea;
      padding: 5px 8px;
      border: none;
      border-radius: 3px;
      color: #d1beec;
      font-size: 14px;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .teleheath-purple-button-e{
      background-color: #8b4aea;
      padding: 5px 13px 5px 8px;
      border: none;
      border-radius: 3px;
      color: #d1beec;
      font-size: 14px;
      margin-bottom: 10px;
      cursor: pointer;
    } */

    /* .teleheath-mezenger-button{
      background-color: #0080ff;
      padding: 5px 8px;
      border: none;
      border-radius: 3px;
      color: #fff;
      font-size: 18px;
      margin-bottom: 10px;
      cursor: pointer;
    } */
}

@media only screen and (max-width: 760px){
    .logo{
        width: 150px;
    }

    .appointment-container{
        margin-top: 70px;
    }

    .mobile_correction_left{
        padding: 1rem !important;
    }
    
    .navbar-toggler{
        margin-top: 3px;
    }

    .hero{
        min-height: 650px;
    }
    
    .hero_btn{
        font-size: 16px;
        line-height: 18px;
    }

    .hero_slogan{
        margin-top: 80px;
        font-size: 20px;
        text-align: center;
        padding: 0px 15px;
    }

    .hero_slogan span{
        font-size: 20px;
    }

    .hero_btnset{
        padding: 0px 15px;
        margin-top: -10px;
    }
    .mobile_schedule{
        padding: 1rem !important;
    }

    .eligibility_box{
        margin-top: 0px;
    }

    .oppourtunity_box{
        padding-top: 3rem !important;
    }

    .description_box{
        padding: 1rem !important;
    }

    .banner_inside{
        padding-top: 14rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .text_box{
        padding: 1rem 1rem 0rem 1rem !important;
        margin-top: .5rem !important;;
    }
    
    .text_box_container{
        padding-top: 0px !important;
    }  
    
    #accordion{
        padding: 1rem !important;
    }

    .featured_box{
        margin-top: 0px !important;
    }

    .featured_box_content{
        padding: 1rem !important;
    }
    /* .mobile_shadow{
        -webkit-box-shadow: 0px 2px 2px 2px black;
	   -moz-box-shadow: 0px 2px 2px 2px black;
	        box-shadow: 0px 2px 2px 2px black;
    } */

    .insurance_form_content{
        font-size: 1rem;
    }

    #ibox{
        padding: 1rem !important;
        margin-bottom: 0px !important;
    }

    .featured_box_content .fcontent{
        font-size: 20px;
    }

    .insurance_output{
        padding: 1rem !important;
        margin-bottom: 0px !important;
    }

    .insurance_special_box{
        margin-top: 0px;
    }
    .insurance_special_box_head{
        padding: 1rem !important;
    }
    .insurance_special_box_body{
        padding: 1rem !important;
    }

    .footer-bottom-right-text{
        text-align: center !important;
    }

    .footer-bottom-left-text{
        text-align: center !important;
    }

    .locate-address-num{
        padding-left: 10px !important;
    }

    .locate-contact-area{
        padding-left: 35px !important;
    }

    .locate-time-area{
        padding-left: 18px !important;
    }

    .doc-contact-right{
        font-size: 12px !important;
    }

    .patients-page-main-heading{
        padding-top: 0 !important;
    }

    .news_slider{
        width: 100%;
        margin: unset;
        margin-top: 4.5rem;
        font-size: 14px;
    }

    .hero_big_btn{
        margin-top: -37px;
    }

    .mobile-telehealth-text{
        margin-top: -37px;
    }

    .news-marquee-area{
        margin-top: 170px;
        margin-bottom: 60px;
    }

    .telehealth-contact{
        font-size: 13px;
    }

    .news-marquee{
        width: 95%;
        margin: auto;
    }
    .option-body{
        height: auto;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px){
    #yellow-select select {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        color: var(--baseFg);
        line-height: 1;
        border: none;
        outline: 0;
        padding: 15px;
        font-size: 13px;
        border-radius: var(--radius);
        background-color: var(--baseBg);
        background-image: linear-gradient(var(--baseFg), var(--baseFg)),
          linear-gradient(-135deg, transparent 50%, var(--baseBg) 50%),
          linear-gradient(-225deg, transparent 50%, var(--baseBg) 50%),
          linear-gradient(var(--baseBg) 42%, var(--baseFg) 5%);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 1px 0%, 40px 42px, 40px 42px, 30px 100%;
        background-position: right 20px top, right bottom, right bottom, right bottom;   
      }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px){
    .it_btn{
        font-size: 10px !important;
    }

    .headertop-icon {
      font-size: 16px !important;
    }

    .headertop-text{
      font-size: 13px !important;
    }

    .headertop-contact{
      font-size: 11px !important;
      margin-left: -30px !important;
    }

    .flag-area {
    margin-left: -10px;
  }

    .news-marquee-area{
      margin-top: 175px;
      margin-bottom: 75px;
  }

    .hero-appointment-button-bg{
      font-size: 14px !important;
  }
} 

@media only screen and (min-width: 320px) and (max-width: 480px){
  .telehealth-img{
    width: 50px;
  }

  .telehealth-heading{
  font-weight: 800;
  text-align: right;
  padding-right: 5px;
  color: #634395;
  font-size: 17px;
  }

.telehealth-heading:hover{
  font-weight: 800;
  text-align: right;
  padding-right: 5px;
  color: #634395;
  text-decoration: underline;
  font-size: 17px;
  }

  .telehealth-text{
  color: #000;
  text-align: right;
  padding-right: 5px;
  font-size: 15px;
  font-weight: 700;
  margin-top: -10px;

  }

  .telehealth-contact{
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  }

  .hero_big_btn{
    margin-top: -41px;
    padding-bottom: 0px;
    border: none;
  }

  .telehealth-feature-img{
  margin-top: 0px;
  height:200px;
  overflow:hidden;
  }

  .telehealth24-heading{
  text-align: center;
  }

  .telehealth24-content{
  text-align: center;
  padding-left: 25px;
  }

  .cvt{
  text-align: center;
  }

  .cvf{
  text-align: center;
    }

    .news-marquee{
        width: 95%;
        margin: auto;
      }

  /* .teleheath-purple-button{
  background-color: #8b4aea;
  padding: 5px 8px;
  border: none;
  border-radius: 3px;
  color: #d1beec;
  font-size: 14px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
  }

  .teleheath-purple-button-e{
  background-color: #8b4aea;
  padding: 5px 13px 5px 8px;
  border: none;
  border-radius: 3px;
  color: #d1beec;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  max-width: 300px;
  margin: auto;
  }

  .teleheath-mezenger-button{
  background-color: #0080ff;
  padding: 5px 8px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  } */

  .telehealth-zoom-button{
  padding-left: 33px;
  }

  .flag-top-area{
  padding-top: 10px;
  }

    .hero-appointment-button-bg{
      font-size: 14px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
  .telehealth-img{
    width: 65px;
  }

  .telehealth-heading{
  font-weight: 800;
  text-align: right;
  padding-right: 5px;
  color: #634395;
  font-size: 22px;
  }

.telehealth-heading:hover{
  font-weight: 800;
  text-align: right;
  padding-right: 5px;
  color: #634395;
  text-decoration: underline;
  font-size: 22px;
  }

  .telehealth-text{
  color: #000;
  text-align: right;
  padding-right: 5px;
  font-size: 18px;
  font-weight: 700;
  margin-top: -10px;

  }

  .telehealth-contact{
  text-align: right;
  padding-right: 5px;
  font-size: 13px;
  }

  .hero_big_btn{
    margin-top: -40px;
    padding-bottom: 0px;
    border: none;
  }
}